body {
    margin: 0;
}

#navBar {
    position: absolute;
    width: 300px;
    left: 0;
    height: 100%;
    border-right: 1px solid #888;

    background: #fff;

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

#nav {
    padding: 15px;
}

.question {
    width: 100%;
    background: linear-gradient(to bottom, #114C85,#11477A);
    text-shadow: none;
    text-align: center;
    color: white;

    font-size: 22px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    padding: 20px;
}
